<form action="">
    <div><label for=""><input type="text" name="id1" id=""></label></div>
    <div><label for=""><input type="text" name="id2" id=""></label></div>
    <div><label for=""><input type="text" name="id3" id=""></label></div>
    <div><label for=""><input type="text" name="id4" id=""></label></div>
</form>